@media (max-width:992px ) {
    .promo {
        padding: 28px 30px 93px;
        &__header{
            font-size: 38px;
        }
        &__subheader{
            font-size: 23px;
        }
        &__links{
            margin-top: 10px;
        }

    }
    .advant{
        padding: 71px 30px 78px 30px;

        &__item:first-child{
            margin-top: 38px;
            

        }
        &__disc{
            max-width: 200px;
        }
    }
    
    .catalog{
        &__content {
            padding: 5px;
            
        }
    }


}

@media (max-width:768px ){
    .promo{
        overflow: hidden;
    }
    .header{
        &__ofishial{
            display: none;
        }
    }

    .advant{
        &__items{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            img{
                margin-top: 40px;
            }
            

        }
        &__header{
            margin-top: 18px;
        }
        &__disc{
            margin-top: 10px;
        }
        &___item:first-child {
            margin-top: 0;
        }
    }
    .title__left, .consult__disc{
        text-align: center;
    }
    .title{
        font-size: 33px;
    }
    .consult__disc{
        margin-top: 25px;
        margin-bottom: 40px;
    }
    .feed-form {
        margin: 0 auto;
    }

    .carousel {
        
        
        &__iner{
            width: 400px;
        }
    }

    .review{
        padding: 5px;
    }


    .catalog{

        &__tabs{
            padding: 10px;
        }
        &__content{
            margin: 0 auto;
            justify-content: center;
        }
    }
}
@media (max-width:426px ){
    .header{
        &__logo {
            img {
                width: 90%;
            }
        }

        &__phone{
            font-size: 16px;
        }
    }

    button {
        width: 145px;
    }

    .promo {
        &__header {
            font-size: 30px;
        }
        padding: 5px;
        
    }

    .catalog {
        &__tabs {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            
        }

        &__tab{
            margin: 5px 5px;
        }
    }
    .footer {
        &__info{
            width: 330px;
            min-height: 150px;
        }
    }

    .carousel {
        
        
        &__iner{
            width: 350px;
        }
    }
    .promo{
        
        &__icons {
            width: 390px;
        }
    }
    
}

@media (max-width:376px ){

    .promo{
        &__icons {
            width: 370px;
        }
    }
    
}

@media (max-width:320px ){

    .promo{
        &__icons {
            width: 320px;
        }
    }
    
}
