@media (max-width:992px ) {
    .promo {
        padding: 28px 30px 93px;
        &__header{
            font-size: 38px;
        }
        &__subheader{
            font-size: 23px;
        }
        &__links{
            margin-top: 10px;
        }

    }
    .advant{
        padding: 71px 30px 78px 30px;

        &__item:first-child{
            margin-top: 38px;
            

        }
        &__disc{
            max-width: 200px;
        }
    }
    
    .catalog{
        &__content {
            padding: 5px;
            
        }
    }


}

@media (max-width:768px ){
    .promo{
        overflow: hidden;
    }
    .header{
        &__ofishial{
            display: none;
        }
    }

    .advant{
        &__items{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            img{
                margin-top: 40px;
            }
            

        }
        &__header{
            margin-top: 18px;
        }
        &__disc{
            margin-top: 10px;
        }
        &___item:first-child {
            margin-top: 0;
        }
    }
    .title__left, .consult__disc{
        text-align: center;
    }
    .title{
        font-size: 33px;
    }
    .consult__disc{
        margin-top: 25px;
        margin-bottom: 40px;
    }
    .feed-form {
        margin: 0 auto;
    }

    .carousel {
        
        
        &__iner{
            width: 400px;
        }
    }

    .review{
        padding: 5px;
    }
}


@media (max-width:768px ){
    .catalog{

        &__tabs{
            padding: 10px;
        }
        &__content{
            margin: 0 auto;
            justify-content: center;
        }
    }
}

