.title{
    opacity:1;
    color:#000000;
    font-weight: 700;
    font-size:36px;
    text-align: center;
    text-transform: uppercase;

    &__left{
        text-align: left;
        color: #fff
    }
    
}